.burger-menu-wrapper {
  .burger-menu-handle {
    display: flex;

    position: fixed;
    top: 5vmin;
    left: 5vmin;

    align-items: center;
    justify-content: center;

    transition: .2s border-color,
    .2s color;
    z-index: 2000;

    border: .3rem solid $gray;
    cursor: pointer;

    width: 4rem;
    height: 4rem;

    color: $gray;
    font-size: 2rem;

    &:hover {
      border-color: rgba($color: $white, $alpha: 0);
      color: lighten($color: $primary-color, $amount: 10);
    }
  }
}
