.fallback-license-and-impressum-link {
  position: absolute;
  right: .25rem;
  bottom: .25rem;

  color: $black;
  font-family: 'Roboto Condensed';

  // IE Workaround
  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    position: fixed;
  }

  a {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    text-decoration: none;
  }

  .menu-impressum-symbols {
    margin-left: .5rem;

    svg {
      width: auto;
      height: $global--menu-height * .6;
    }
  }
}
