.fallback-goto-top-btn {
  @include user-select(none);

  display: flex;

  position: fixed;
  right: 5vmin;
  bottom: 5vmin;

  align-items: center;
  justify-content: center;

  transition: $global--variant-change-duration opacity,
  .2s color;

  opacity: 0;
  z-index: 999;

  border-radius: 100%;
  background-color: $white;

  cursor: pointer;

  color: $black;
  font-size: 10vmax;

  pointer-events: none;

  @media (min-height: 800px), (min-width: 800px) {
    font-size: 5rem;
  }

  &:hover {
    color: $primary-color-text;
  }

  &.filter-active {
    bottom: #{'calc(5vmin + 5rem)'};
  }

  &.show {
    opacity: 1;
    pointer-events: initial;
  }
}
