.about-table-component {
  display: flex;

  position: absolute;
  top: 10vw;
  right: 20vw;
  left: 20vw;

  align-items: center;
  justify-content: space-around;

  height: 4rem;

  list-style: none;

  .about-table-item {
    display: flex;

    flex-direction: column;
    align-items: center;
    justify-content: center;

    .about-table-item-title,
    .about-table-item-text {
      @include media-medium-small {
        font-size: 1.2rem;
      }

      @include media-small {
        font-size: .9rem;
      }

      font-family: 'Roboto Condensed';
      font-size: 1.4rem;
      font-variant: small-caps;
    }

    .about-table-item-text {
      font-weight: bold;
      font-style: italic;
    }
  }
}
