@import 'stories-overlay-skill-list';

.stories-overlay-inner {
  transform-origin: top left;
}

.object-transition {
  .stories-overlay-inner-wrapper {
    opacity: 0;
  }

  .stories-overlay-filter-toggle-show-btn {
    opacity: 0;
    transition-duration: 0ms;
  }
}

.variant--stories-filter-focus {
  .stories-overlay-inner-wrapper {
    transform: translate3d(-100%, -100%, 0) translate3d(-1vmin, -1.1vmin, 0) rotate(-30deg) translate3d(16.75vmin, .5vmin, 0);

    opacity: 1;

    width: 69.1vmin;
    height: 29.5vmin;

    -webkit-clip-path: polygon(100% 0%, 0% 0%, 24.75% 100%, 75.35% 100%);
    clip-path: polygon(100% 0%, 0% 0%, 24.75% 100%, 75.35% 100%);
  }

  .stories-overlay-filter-toggle-show-btn {
    top: 43%;
    left: -47%;
    transform: rotate(-30deg);
  }
}

.stories-overlay-filter-toggle-show-btn {
  display: flex;

  position: absolute;
  top: -3rem;
  left: -3rem;

  align-items: center;
  justify-content: center;

  transition: $global--variant-change-duration opacity,
  .2s color;

  z-index: 101;
  cursor: pointer;

  width: 2rem;
  height: 2rem;

  font-size: 2rem;
  font-weight: bold;

  pointer-events: initial;

  &:hover {
    color: $primary-color-text;
  }
}

.stories-overlay-inner-wrapper {
  position: relative;

  transform: translate3d(-100%, -100%, 0) translate3d(-1vmin, -1.1vmin, 0);
  transition: $global--variant-change-duration opacity;

  opacity: 0;
  z-index: 100;

  width: 44vmin;
  height: 25.3vmin;

  transition-delay: $global--variant-change-duration;

  -webkit-clip-path: polygon(100% 0, 0% 100%, 0% 100%, 100% 100%);
  clip-path: polygon(100% 0, 0% 100%, 0% 100%, 100% 100%);

  transform-origin: bottom right;
}
