.view-about {
  .guide-w1,
  .guide-w2,
  .guide-w3 {
    top: $about-picture-top;
    left: $about-picture-left;

    transform: translate3d(-25.8vh, 1.9vh, 0);

    opacity: .1;

    width: 17vh;
    height: 17vh;
    max-height: 50vw;
  }

  .guide-blc0,
  .guide-blc1,
  .guide-blc2 {
    top: $about-picture-top;
    left: $about-picture-left;

    transform: translate3d(-7.5rem, 25vh, 0)
    translate3d(.25rem, 1.5rem, 0)
    // Now we are exactly where we want to be, the next line behaves like margin
    translate3d(1rem, .6rem, 0);

    width: 10vh;
    height: 10vh;
  }
}
