.view-contact {
  .guide-a,
  .guide-b,
  .guide-c {
    right: 20vmin;
    bottom: 3vh;

    width: 24vmin;
    height: 70vmin;
  }

  .guide-lp-a,
  .guide-lp-b,
  .guide-lp-c {
    right: #{'calc(115vmin - 3rem)'};
    bottom: 35vmin;

    width: 20vmin;
    height: 45vmin;
  }

  .guide-ltp-a,
  .guide-ltp-b,
  .guide-ltp-c {
    right: 75vmin;
    bottom: #{'calc(20vmin + 17.5rem)'};

    width: 40vmin;
    height: 30vmin;
  }

  .guide-blc0,
  .guide-blc1 {
    bottom: 13vh;
    left: 26vw;
  }

  .guide-blc2 {
    bottom: 10vh;
    left: 26vw;
  }
}
