.view-contact {
  .guide-a,
  .guide-b,
  .guide-c {
    right: 20vmin;
    bottom: 3vh;

    width: 24vmin;
    height: 70vmin;
  }

  .guide-lp-a,
  .guide-lp-b,
  .guide-lp-c {
    right: 107.5vmin;
    bottom: 35vmin;

    width: 15vmin;
    height: 30vmin;
  }

  .guide-ltp-a,
  .guide-ltp-b,
  .guide-ltp-c {
    right: 77.5vmin;
    bottom: 60vmin;

    width: 40vmin;
    height: 30vmin;
  }

  .guide-blc0,
  .guide-blc1 {
    bottom: 13vh;
    left: 26vw;
  }

  .guide-blc2 {
    bottom: 10vh;
    left: 26vw;
  }
}
