.view-contact {
  .guide-a,
  .guide-b,
  .guide-c {
    bottom: 5vh;
    left: 20%;

    width: 70%;
    height: 65vh;
    max-height: 50vw;
  }

  .guide-lp-a,
  .guide-lp-b,
  .guide-lp-c {
    bottom: 30vh;
    left: 42%;

    width: 7vw;
    height: 30vh;
  }

  .guide-ltp-a,
  .guide-ltp-b,
  .guide-ltp-c {
    bottom: 60vh;
    left: 44%;

    width: 18vw;
    height: 30vh;
  }

  .guide-blc0,
  .guide-blc1 {
    bottom: 13vh;
    left: 28vw;
  }

  .guide-blc2 {
    bottom: 10vh;
    left: 28vw;
  }
}
