.site-wrapper,
.view-wrapper {
  position: fixed;
  top: 0;
  left: 0;

  background-color: $white;

  width: 100vw;
  height: 100vh;
}

// To enable hardware acceleration
.svg-wrapper,
.view-model,
.view-content {
  transform: translate3d(0, 0, 0);
}

.view-model,
.svg-wrapper {
  position: fixed;

  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;
}

.view-content {
  position: fixed;

  top: 0;
  left: 0;

  z-index: 20;

  width: 100vw;
  height: 100vh;

  overflow-y: auto;
  overflow-x: hidden;
}

.view-buffer {
  transition: $global--fade-out-duration opacity;
  opacity: 0;
  z-index: 101;
  pointer-events: none;
}

.view-main {
  z-index: 100;
}

.view-overlay {
  display: none;
  z-index: 102;
}

.view-model {
  z-index: 10;

  &.disabled {
    background-color: rgba($color: $black, $alpha: .05);
  }
}

.view-model,
.view-content {
  transition: $global--popup-fade-out-duration filter,
  $global--popup-fade-out-duration background-color,
  $global--popup-fade-out-duration transform,
  $global--popup-fade-out-duration clip-path,
  $global--popup-fade-out-duration opacity;

  clip-path: $global--enable-clip-path;

  &.disabled {
    filter: $global--disable-blur;
    pointer-events: none;
    clip-path: $global--disable-clip-path !important;
  }
}

.view-model-overlay {
  top: 5vmin;
  right: 5vmin;
  bottom: 5vmin;
  left: 5vmin;

  z-index: 30;

  width: initial;
  height: initial;

  overflow: hidden;
  pointer-events: none;

  .svg-wrapper {
    position: absolute;

    top: -5vmin;
    left: -5vmin;
  }
}

.content-wrapper-outer {
  transition: $global--fade-out-duration opacity;
}

.overlay-wrapper-outer {
  position: fixed;

  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  transition: $global--fade-out-duration opacity;

  z-index: 40;
  pointer-events: none;
}

.overlay-wrapper-content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  transition: $global--popup-fade-out-duration filter,
  $global--popup-fade-out-duration clip-path;

  clip-path: $global--enable-clip-path;

  &.disabled {
    clip-path: $global--disable-clip-path !important;
    filter: $global--disable-blur;
    pointer-events: none;
  }
}

.guide {
  position: absolute;
}

.object-transition {
  .object,
  .rotation-div {
    transition: $global--variant-change-duration opacity,
    $global--variant-change-duration top,
    $global--variant-change-duration right,
    $global--variant-change-duration bottom,
    $global--variant-change-duration left,
    $global--variant-change-duration transform;
  }
}

.object {
  position: absolute;
  pointer-events: initial;
}

.fade-out-content {
  opacity: 0;
}

.fade-in-content {
  opacity: 1;
}
