.view-startpage {
  .guide-a,
  .guide-b {
    top: 5vh;
    left: 15%;

    width: 80%;
  }

  .guide-c {
    top: 26vh;
    right: 18vw;
  }

  .guide-d {
    top: 30vh;
    right: 18vw;

    width: 1px;
  }

  .guide-e {
    top: 40vh;
    right: 18vw;

    width: 1px;
  }
}
