@import 'startpageLayout';

// .view-startpage {
//   .content-wrapper-inner {
//     height: 200vh;
//   }
// }

.startpage-picture {
  position: fixed;
  top: 50vh;
  left: 50vw;

  transform: translate3d(-100%, -50%, 0);

  margin: 0 0 0 (-$startpage-margin-from-midline);
  height: 40vh;

  transform-origin: top left;
}

.startpage-picture-caption {
  position: fixed;
  top: 50vh;
  left: 50vw;

  transform: translate3d(#{-(41.5 * $picture-dimension-ratio)}vh, -3.5vh, 0) translateX(-$startpage-margin-from-midline);

  img {
    height: 22vh;
  }
}

.startpage-midline {
  position: fixed;
  top: 50vh;
  left: 50vw;

  transform: translate3d(-50%, -50%, 0);

  background-color: $lightgray;

  width: 2px;
  height: 37vh;
}

.startpage-midline-caption {
  position: fixed;
  top: 68.5vh;
  left: 50vw;

  transform: translate3d(-2px, .4rem, 0);

  color: $lightgray;
  font-family: 'Roboto Condensed';
  font-size: 1.2rem;
  font-weight: 400;
}
