.view-startpage {
  .guide-a,
  .guide-b {
    top: 5vh;
    left: 15%;

    width: 80%;
  }

  .guide-c {
    top: 26vh;
    right: 18vw;
  }

  .guide-d {
    top: 30vh;
    right: 18vw;

    width: 1px;
  }

  .guide-e {
    top: 40vh;
    right: 18vw;

    width: 1px;
  }

  .guide-p1,
  .guide-p2 {
    top: 50vh;
    left: 50vw;

    transform: translate3d(#{-(14.8 * $picture-dimension-ratio)}vh, 4.2vh, 0) translateX(-$startpage-margin-from-midline);

    width: 5px;
    height: 5px;
  }

  .guide-p3 {
    top: 50vh;
    left: 50vw;

    transform: translate3d(#{-(14.6 * $picture-dimension-ratio)}vh, 16.6vh, 0) translateX(-$startpage-margin-from-midline);

    width: 5px;
    height: 5px;
  }
}
