@import 'startpageLayout';

// .view-startpage {
// }

.logo-big {
  top: initial !important;
  bottom: 32.875vh;
  left: 50% !important;

  transform: translate3d(-100%, 0, 0) translateY(1rem) translateX(-$startpage-margin-from-midline + .8rem);

  width: 32vh / $logo-dimension-ratio;
  height: 32vh;

  transform-origin: top left;

  .logo {
    width: auto;
    height: 32vh;
  }
}

.startpage-navigation-list {
  display: flex;

  position: absolute;
  bottom: 2vh;
  left: 50%;

  transform: translate3d(-50%, -50%, 0);

  list-style: none;
  font-family: 'Roboto Condensed';
  font-variant: small-caps;

  a {
    text-decoration: none;
    color: $black;
  }

  li {
    transition: .2s color, .2s background-color;

    padding: 0 .4rem;

    font-size: 2vh;
    font-weight: lighter;

    &:first-child {
      background-color: initial !important;
      cursor: default;
      padding: 0 .2rem;
      font-weight: bold;
    }

    &:last-child {
      padding-right: initial;
    }

    &:hover {
      background-color: $black;

      a {
        color: #fff;
      }
    }
  }
}

.startpage-picture {
  position: fixed;
  top: 50vh;
  left: 50vw;

  transform: translate3d(#{(2 * $picture-dimension-ratio)}vh, -50%, 0) translateY(1rem);

  margin: 0 0 0 ($startpage-margin-from-midline);
  height: 35vh;

  transform-origin: top left;
}

.startpage-picture-caption {
  position: fixed;
  top: 50vh;
  left: 50vw;

  transform: translate3d(#{(-.2 * $picture-dimension-ratio)}vh, -4vh, 0) translateX($startpage-margin-from-midline) translateY(1rem);

  img {
    height: 22vh;
  }
}

.startpage-midline {
  position: fixed;
  top: 50vh;
  bottom: 32.875vh;
  left: 50vw;

  transform: translate3d(-50%, 0, 0);

  background-color: $black;

  width: 2px;
}

.startpage-midline-caption {
  position: fixed;
  top: 67.1vh;
  left: 50vw;

  transform: translate3d(-2px, .4rem, 0);

  color: $black;
  font-family: 'Roboto Condensed';
  font-size: 1.2rem;
  font-weight: 400;
}
