.view-stories {
  .guide-a,
  .guide-b {
    top: 13vh;
    left: 20%;

    width: 70%;
  }

  .guide-c {
    top: 28vh;
    left: 22vw;
  }

  .guide-d {
    top: 40vh;
    left: 25vw;

    width: 1px;
  }
}
