@import 'storiesLayout';

.view-stories {
  @import './stories/year-selection';
  @import './stories/selected-year-display';
  @import './stories/story-name-display';
  @import './stories/story-info-display';
  @import './stories/story-page-name-display';
  @import './stories/articles-container';

  .stories-top-left-white-area {
    position: fixed;

    transform: translate3d(-50%, -100%, 0) rotate(-27deg) translateY(3rem);

    z-index: 10;

    background-color: #fff;

    width: 200vw;
    height: 200vh;

    transform-origin: bottom center;

    pointer-events: none;
  }

  .stories-top-right-white-area {
    position: fixed;

    transform: translate3d(-50%, -100%, 0) rotate(37deg) translateY(4rem);

    z-index: 10;

    background-color: #fff;

    width: 200vw;
    height: 200vh;

    transform-origin: bottom center;

    pointer-events: none;
  }

  .stories-top-middle-white-area {
    position: fixed;

    transform: translate3d(-50%, -100%, 0) translateY(4rem);

    z-index: 10;

    background-color: #fff;

    width: 200vw;
    height: 200vh;

    pointer-events: none;
  }
}
