.variant--article-focus {
  .articles-container {
    h1 {
      opacity: 1;
    }
  }
}

.articles-container {
  transform: translate3d(-100%, 6rem, 0);
  width: 50vw;

  text-align: justify;

  .articles-container-inner {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;

    margin-top: -2rem;
  }

  h1 {
    display: flex;
    position: sticky;
    top: -6rem;

    align-items: center;
    justify-content: center;

    transition: $global--morph-duration opacity;
    opacity: 0;
    z-index: 1;

    margin: $articles-h2-spacer-margin-top-bottom * 2 -2vmax $articles-h2-spacer-margin-top-bottom -2vmax;

    background-color: $black;

    padding: 0 1em;
    height: $articles-h2-spacer-margin-top-bottom * .8;

    color: $white;
    font-family: 'Roboto Condensed';
    font-size: $articles-h2-spacer-margin-top-bottom * .35;
    font-weight: 200;
    font-variant: small-caps;

    b {
      font-size: $articles-h2-spacer-margin-top-bottom * .5;
      font-weight: 600;
    }

    ul {
      display: flex;
      align-items: center;
      justify-content: space-around;

      width: 100%;

      list-style: none;

      li {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }

  h2 {
    @include media-big {
      font-size: 2.25rem;
    }

    position: relative;

    margin: 0 0 .2em;

    font-family: 'Roboto Condensed';
    font-size: 1.5rem;
  }

  .h2-spacer {
    margin: $articles-h2-spacer-margin-top-bottom 4vmax;

    border-radius: $articles-h2filler-width / 2;
    background-color: $black;

    height: $articles-h2filler-width;
  }

  p {
    @include media-big {
      font-size: 1.95rem;
    }

    padding: 0 $articles-h2-spacer-margin-top-bottom;

    font-size: 1.35rem;
  }

  .story-header-skills-item {
    &::after {
      // Attention these are not normal spaces but "&nbsp;"s
      content: ' | ';
    }

    &:last-child {
      &::after {
        content: '';
      }
    }
  }
}
