.variant--article-focus {
  .guide-a {
    top: 10vh;
    left: 20%;

    width: 70%;
  }

  .guide-b {
    top: 0;
    left: 20%;

    width: 80%;
  }

  .guide-c {
    top: 28vh;
    left: 36vw;
  }

  .guide-d {
    top: 35vh;
    left: 35vw;

    width: 1px;
  }

  .guide-bb {
    top: 20vh;
    left: 20%;

    width: 70%;
  }
}
