.variant--article-focus {
  .selected-year-display {
    @include media-big {
      transform: translateY(-100%) translateY(-16px) translateX(1rem);
    }

    transform: translateY(-100%) translateY(-20px) translateX(1rem);
  }
}

.selected-year-display {
  @include media-big {
    transform: translateY(-100%) translateY(-16px);
  }

  @include user-select(none);

  transform: translateY(-100%) translateY(-18px);

  text-shadow:  3px 2px 0 $white;
  line-height: .65em;
  color: $black;
  font-size: 4vmax;

  transform-origin: left bottom;

  .selected-year-caption {
    @include user-select(text);

    margin: 0 0 0 1rem;

    text-shadow: initial;
    color: $white;
    font-family: 'Roboto Condensed';
    font-size: 1.5vw;
    font-variant: small-caps;
  }
}
