.story-info-display {
  position: fixed;

  transform: translate3d(-100%, -55%, 0) translateX(-$articles-h2-spacer-margin-top-bottom);
  z-index: 2;

  text-align: right;
  color: $black;
  font-family: 'Roboto Condensed';
  font-weight: bold;

  .story-info-display-name {
    margin: 0 -1rem 0 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;

    background-color: $white;
    padding: 0 1rem;

    font-size: 3.5vmax;
  }

  .story-info-secondary-display {
    transition: $global--variant-change-duration max-height,
    $global--variant-change-duration padding;

    margin: -.5rem -1rem 0 0;
    border-top-right-radius: 0;

    background-color: $white;
    padding: .5rem 1rem;

    max-width: 28rem;

    max-height: 50vh;
    overflow: hidden;

    color: $gray;
    font-size: 1.5vmax;
    font-weight: normal;
    font-variant: small-caps;

    b {
      color: $black;
    }

    .selected-story-skill-link {
      text-decoration: none;
      color: $gray;

      &::before {
        content: ' ';
      }

      &::after {
        // Attention this is not a normal space but a "&nbsp;"
        content: ' |';
      }

      &:last-child {
        &::after {
          content: '';
        }
      }
    }
  }
}
