.stories-time-beam-wrapper {
  display: flex;

  position: fixed;
  bottom: $global--menu-height;
  left: 0;

  justify-content: left;

  transform: rotate(-90deg) translateY(100%);

  width: #{'calc(100vh - ' + $global--menu-height + ')'};

  font-family: 'Roboto Condensed';

  pointer-events: initial;
  transform-origin: bottom left;

  .timebeam-headline {
    display: flex;

    flex: 1;

    align-items: center;
    justify-content: center;

    margin-left: .125rem;

    border: .5rem $black solid;
    border-top: 0;
    height: 3.5rem;

    font-weight: bold;

    box-sizing: border-box;
  }

  ul {
    display: flex;

    align-items: center;
    justify-content: center;

    list-style: none;
  }

  .stories-time-beam-year-list {
    justify-content: flex-start;
  }

  .time-beam-year-list-item {
    display: flex;

    flex-direction: column;

    align-items: stretch;
    justify-content: center;

    padding: 0 .125rem;

    .stories-time-beam-year-list-item-headline {
      display: flex;

      align-items: center;
      justify-content: center;

      background-color: $black;

      padding: .125rem .5rem;
      height: 1.5rem;

      text-align: center;

      color: $white;
      font-size: 1.2rem;
      font-weight: bold;
    }

    .stories-time-beam-stories-per-year-list {
      a {
        text-decoration: none;
        color: $black;
      }

      li {
        display: flex;

        align-items: center;
        justify-content: center;

        transition: .2s border-color;

        border-top: .25rem $primary-color-text solid;
        border-color: rgba($color: $primary-color-text, $alpha: 0);

        padding: .25rem .5rem;
        height: 1.75rem;

        font-weight: bold;

        box-sizing: border-box;

        &:hover {
          border-color: rgba($color: $black, $alpha: 1);
        }
      }

      .selected {
        border-color: rgba($color: $primary-color-text, $alpha: 1) !important;
      }
    }
  }
}
