.variant--article-focus {
  .stories-year-selection {
    opacity: 0;
    pointer-events: none;
  }
}

.stories-year-selection {
  transform:  translateX(-.85rem) translateX(1.1rem);
  z-index: 1;

  padding: 0 2rem .25rem 0;

  text-rendering: geometricPrecision;
  font-size: 1.1rem;
  transform-origin: top left;
}
