html.can-touch { // sass-lint:disable-line force-element-nesting no-qualifying-elements
  .burger-menu-handle {
    border-color: $gray !important;
    color: $gray !important;
  }

  .fallback-skills-simplify-overview-button {
    border-color: $gray !important;
    background-color: $white !important;
    color: $gray !important;
  }

  .fallback-skills-simplified-overview-selection-button {
    border-color: $black !important;
    color: $black !important;
  }

  .fallback-goto-top-btn {
    color: $gray !important;
  }

  .fallback-skill-details-close-button {
    color: $black !important;
  }
}
