* {
  margin: 0;
  padding: 0;
}

// Removes firefox ugly line around links and all kind of elements
:focus {
  outline: none;
}

a {
  color: $black;

  &:hover {
    color: $secondary-color;
  }
}

html {
  color: $black;
  font-family: 'Roboto';
  font-size: $global--font-size;
}

body {
  margin: 0;
  padding: 0;

  height: 100%;
}

.clear-both {
  clear: both;
}
