.skills-detail-view {
  position: fixed;
  bottom: $global--menu-height;
  left: 0;

  background-color: $white;
  padding: 2rem 2rem 1rem 5rem;

  max-width: 27rem;

  a {
    color: $black;
  }

  h1 {
    font-family: 'Roboto Condensed';
  }

  p {
    margin:  0 0 1rem;

    text-align: justify;
    font-family: 'Roboto Condensed';
    font-size: 1.4rem;
  }

  .skills-detail-view-trivia {
    margin:  1rem 0 0;
    font-size: 1.2rem;
    font-style: italic;
  }

  .skills-detail-view-icon {
    font-size: 1.5rem !important;
  }

  .skills-detail-view-mark,
  .skills-detail-view-icon {
    display: flex;
    align-items: center;
    justify-content: center;

    float: left;
    margin: .25rem .5rem 0 0;

    border-radius: .5rem;
    background-color: $black;

    width: 2rem;
    height: 2rem;

    color: $white;
    font-family: 'Roboto';
    font-size: 1.8rem;
  }
}
