@import 'skills-map/skills-map-scroll-anchor';

.skills-map-outer-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  transition: $skills-map-transition-time color;

  overflow: hidden;

  &.add-skill-mode {
    color: $gray !important;

    .skills-map-item {
      color: $gray !important;

      &:hover { // sass-lint:disable-line nesting-depth
        background-color: $gray !important;
        color: $white !important;

        .skills-map-item-mark, // sass-lint:disable-line nesting-depth
        .skills-map-item-comment-icon {
          background-color: $white !important;
          color: $gray !important;
        }
      }
    }

    .skills-map-item-mark {
      background-color: $gray !important;
      color: $white !important;
    }

    .skills-map-item-comment-icon {
      opacity: 0 !important;
    }

    .skills-map-column,
    .skills-map-category {
      border-color: $gray !important;
    }

    .skills-map-category-inner {
      border-color: rgba($color: $black, $alpha: 0) !important;
    }
  }
}

.skills-map-wrapper {
  @include user-select(none);

  display: flex;

  position: absolute;
  top: 50vh;
  left: 50vw;

  min-width: 100vw;
  min-height: 100vh;

  &.no-drag {
    @include user-select(initial);
  }

  &.transition {
    transition: $skills-map-transition-time transform;
  }

  .skills-map-inner-wrapper {
    display: flex;
  }

  @import 'skills-map/skills-map-column';
  @import 'skills-map/skills-map-category';
  @import 'skills-map/skills-map-item';
}
