.skill-filter-wrapper-outer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: $global--menu-height;
  left: 0;

  overflow: hidden;
  pointer-events: none;
}

.skill-filter-wrapper {
  position: absolute;
  bottom: 0;
  left: 34rem;

  transform: translate3d(0, 100%, 0);
  transition: $global--variant-change-duration transform;

  z-index: 1;

  background-color: $white;
  padding: 2rem 2rem 1rem;

  pointer-events: initial;

  &.skill-filter-visible {
    transform: translate3d(0, 0, 0);
  }

  h1 {
    padding-bottom: 1rem;
    font-variant: small-caps;
  }

  @import 'skill-filter/filter-checkbox';
  @import 'skill-filter/filter-search';
}
