@import 'skills-map/skills-map-scroll-anchor';

.skills-map-outer-wrapper {
  height: 100vh;
}

.skills-map-wrapper {
  @include user-select(none);

  display: flex;

  position: fixed;
  top: 50vh;
  left: 50vw;

  min-width: 100vw;
  min-height: 100vh;


  &.transition {
    @include user-select(initial);
    transition: $skills-map-transition-time transform;
  }

  .skills-map-inner-wrapper {
    display: flex;
  }

  @import 'skills-map/skills-map-column';
  @import 'skills-map/skills-map-category';
  @import 'skills-map/skills-map-item';
}
