@import 'skills-map/skills-map-scroll-anchor';

.skills-map-outer-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  transition: $skills-map-transition-time background-color;

  overflow: hidden;

  &.add-skill-mode {
    background-color: rgba($color: $black, $alpha: .25);
  }
}

.skills-map-wrapper {
  @include user-select(none);

  display: flex;

  position: absolute;
  top: 50vh;
  left: 50vw;

  min-width: 100vw;
  min-height: 100vh;

  &.no-drag {
    @include user-select(initial);
  }

  &.transition {
    transition: $skills-map-transition-time transform;
  }

  .skills-map-inner-wrapper {
    display: flex;
  }

  @import 'skills-map/skills-map-column';
  @import 'skills-map/skills-map-category';
  @import 'skills-map/skills-map-item';
}
