.stories-overlay-title {
  transform-origin: top left;
  pointer-events: none !important;

  .stories-overlay-title-inner {
    transform: translate3d(-50%, -100%, 0);

    background-color: $white;
    padding: 0 1rem .5rem;

    font-family: 'Roboto Condensed';
    font-size: 6vh;
    font-variant: small-caps;
  }
}
