.stories-overlay-inner {
  transform-origin: top left;
}

.stories-overlay-inner-wrapper {
  transform: translate3d(-100%, -100%, 0) translate3d(-1vmin, -1.1vmin, 0);

  z-index: 100;

  background-color: #f00;

  width: 44vmin;
  height: 25.3vmin;

  -webkit-clip-path: polygon(100% 0, 0% 100%, 100% 100%);
  clip-path: polygon(100% 0, 0% 100%, 100% 100%);
}
