.fallback-timeline-wrapper {
  position: fixed;
  top: #{'calc(7.5vmin + 4rem)'};
  bottom: 5vmin;
  left: 5vmin;

  width: 4rem;

  pointer-events: none;

  @media (max-width: 320px) {
    top: 25vmin;
    width: 17.5vmin;
  }

  &.active {
    .fallback-timeline-inner {
      opacity: 1;
      pointer-events: initial;
    }

    .fallback-timeline-shrink-btn {
      border-color: $black;
    }
  }

  .fallback-timeline-inner {
    position: absolute;
    top: 0;
    right: 0;
    bottom: #{'calc(4.5rem)'};
    left: 0;

    transition: $global--variant-change-duration opacity;
    opacity: 0;

    overflow: hidden;
    transform-origin: top left;

    pointer-events: none;

    @media (max-width: 320px) {
      bottom: #{'calc(17.5vmin + .5rem)'};
    }
  }

  .fallback-timeline-shrink-btn {
    display: flex;

    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;

    align-items: center;
    justify-content: center;

    transition: $global--variant-change-duration border-color,
    opacity $global--variant-change-duration,
    .2s color;

    border-top: .5rem solid transparent;
    background-color: $white;

    cursor: pointer;

    height: 4rem;

    font-size: 2rem;

    pointer-events: initial;

    @media (max-width: 320px) {
      height: 17.5vmin;
    }

    &.hide {
      opacity: 0;
      pointer-events: none;
    }

    &:hover {
      color: $primary-color;
    }
  }

  @import 'fallback-stories-timeline-year-list';
  @import 'fallback-stories-timeline-stories-per-year-list';
}
