$primary-color: #00e196;
$primary-color-area: desaturate($color: lighten($color: $primary-color, $amount: 10), $amount: 20);
$primary-color-text: lighten($color: $primary-color, $amount: 10);

// $primary-color: #00faa7;
// $primary-color: #ff0558;
// $secondary-color: #e60f33;
$secondary-color: #ff1e69;

$black: #242124;
$white: #fff;

$gray: #666;

$logo-color: $black;

// sass-lint:disable-all
:export {
  black: $black;
  white: $white;
  logoColor: $logo-color;
  primaryColor: $primary-color;
}
