$picture-dimension-ratio: .70612582781456953642;
$logo-dimension-ratio: .86454768998581855557;

$global--min-screen: 600px;
$global--max-screen: 3840px;

$global--min-view-height: 450px; //MARKER: GMVHPX
$global--min-view-width: 800px;

$global--font-size: 14px;

$global--fade-out-duration-ms: 600;
$global--fade-out-duration: $global--fade-out-duration-ms + ms;

$global--morph-duration-ms: $global--fade-out-duration-ms + 400;
$global--morph-duration: $global--morph-duration-ms + ms;

$global--variant-change-duration-ms: 400;
$global--variant-change-duration: $global--variant-change-duration-ms + ms;

$global--popup-fade-out-duration-ms: $global--fade-out-duration-ms;
$global--popup-fade-out-duration: $global--popup-fade-out-duration-ms + ms;

$global--menu-height: 4vh;

$skills-map-transition-time-ms: 400;
$skills-map-transition-time: $skills-map-transition-time-ms + ms;

$global--disable-blur: blur(20px);
$global--disable-clip-path: circle(40vmin at 50% 50%);
$global--enable-clip-path: circle(70vmax at 50% 50%);

// sass-lint:disable-all
:export {
  fadeOutDuration: $global--fade-out-duration-ms;
  popupFadeOutDuration: $global--popup-fade-out-duration-ms;
  morphDuration: $global--morph-duration-ms - 400;
  variantMorphDuration: $global--variant-change-duration-ms;
  skillsMapTransitionTime: $skills-map-transition-time-ms;
}
