$skills-map-column-border-width: .75vmax;

$skills-map-column-border: $skills-map-column-border-width $black solid;
$skills-map-column-border-ie-fallback: 10px $black solid;

$skills-map-category-padding-left-right: .5rem;
