.fallback-skills-simplified-skills {
  a {
    text-decoration: none;
  }

  .fallback-skills-simplified-skill {
    color: $black;

    &.selected {
      border-left: .5rem solid $primary-color;
      padding: .25rem .5rem;
    }
  }
}
