.fallback-skills-simplified-overview {
  margin: 5vmin;

  width: #{'calc(100% - 10vmin)'};

  h1 {
    font-size: 2.5rem;
  }

  h2 {
    margin: 1rem 0;

    border-top: .5rem solid $black;
    border-bottom: .5rem solid $black;

    padding: .25rem .5rem;

    font-size: 2rem;
  }

  h3 {
    margin: .5rem 0;
    font-size: 1.5rem;
  }

  .fallback-skills-simplified-overview-selection-button-wrapper {
    display: flex;

    .info-btn {
      @include user-select(none);

      display: flex;

      align-items: center;
      justify-content: center;

      transition: .2s background-color,
      .2s color;

      margin-top: .5rem;
      margin-left: .5rem;

      background-color: $black;

      cursor: pointer;

      width: 2.25rem;
      height: 2.25rem;

      color: $white;

      &:hover {
        background-color: $white;
        color: $primary-color;
      }
    }

    .fallback-skills-simplified-overview-selection-button {
      @include user-select(none);

      display: flex;

      align-items: center;
      justify-content: center;

      transition: .2s border-color,
      .2s color;

      margin-top: .5rem;

      border-right: .25rem solid $black;
      border-left: .25rem solid $black;

      cursor: pointer;
      padding: .25rem .5rem;

      height: 2.25rem;

      color: $black;
      font-family: 'Roboto Condensed';
      font-size: 1.5rem;
      font-weight: bold;

      box-sizing: border-box;

      @media (max-width: 380px) {
        font-size: 1.1rem;
      }

      &:first-child {
        border-left: .5rem solid $black;
      }

      &:nth-child(2) {
        border-right: .5rem solid $black;
      }

      &:hover {
        border-color: $primary-color;
        color: $primary-color;
      }
    }
  }

  @import 'fallback-skills-simplified-columns';
  @import 'fallback-skills-simplified-categories';
  @import 'fallback-skills-simplified-skills';
  @import 'fallback-skills-list-item';
}
