// .fallback-skills-simplified-categories {
// }

.fallback-skills-simplified-category {
  // Indicates that it's skills are visible
  &.active {
    background-color: $black;
    color: $white;
  }

  &.selected {
    border-left: .5rem solid $primary-color;
    padding: .25rem .5rem;
  }
}
