.fallback-skills-simplify-overview-button-wrapper {
  @include user-select(none);

  display: flex;

  position: fixed;
  top: 5vmin;
  right: 5vmin;

  align-items: center;
  justify-content: center;

  z-index: 1998;
  border: .3rem solid $gray;

  background-color: rgba($color: $white, $alpha: .8);
  cursor: pointer;

  padding: 0 .5rem;
  max-width: #{'calc(90vw - 4rem - 5vmin)'};

  height: 4rem;
  min-height: 6vh;
  max-height: 17.4vh;

  overflow: hidden;

  text-align: center;
  color: $gray;
  font-size: 2vw;

  box-sizing: border-box;

  @media (max-width: 680px) {
    font-size: 1.6rem;
  }

  @media (max-width: 560px) {
    font-size: 1.4rem;
  }

  @media (max-width: 320px) {
    font-size: 1rem;
  }

  @media (max-width: 180px) {
    font-size: .6rem;
  }

  @media (max-height: 500px) {
    font-size: 1.2rem;
  }
}
