.fallback-skill-details-inner {
  position: absolute;
  top: 15vmin;
  right: 5vmin;
  left: 5vmin;

  transition: $global--variant-change-duration opacity;

  opacity: 0;

  padding: 1rem 0;
  min-height: #{'calc(100vh - 15vmin)'};

  box-sizing: border-box;

  &.show {
    opacity: 1;
  }

  .fallback-skill-details-inner-title-wrapper {
    display: flex;

    min-height: 5rem;
  }

  .fallback-skill-details-inner-bottom-button {
    @include user-select(none);

    display: flex;

    align-items: center;
    justify-content: center;

    transition: .2s color;
    background-color: $black;

    cursor: pointer;

    width: 5rem;

    color: $white;
    font-size: 3rem;

    &:hover {
      color: lighten($color: $primary-color, $amount: 10);
    }

    &.previous {
      margin-right: .25rem;
    }

    &.next {
      margin-left: .25rem;
    }
  }

  @media (max-height: 500px), (max-width: 500px) {
    top: 20vmin;
    min-height: #{'calc(100vh - 20vmin)'};
  }

  @import 'fallback-skill-details-inner-info';

  p {
    padding: 1rem 1rem 0;

    text-align: justify;
    font-size: 1.5rem;
  }

  .fallback-skill-details-trivia {
    font-style: italic;
  }
}
