.fallback-skills-list-item {
  @include user-select(none);

  display: flex;
  align-items: center;

  cursor: pointer;

  padding: .25rem .5rem .25rem 1rem;
  height: 1.8rem;

  font-size: 1.5rem;
}
