.fallback-skills-simplify-overview-button {
  @include user-select(none);

  display: flex;

  position: absolute;
  top: 5vmin;
  right: 5vmin;

  align-items: center;
  justify-content: center;

  transition: .2s border-color,
  .2s background-color,
  .2s color;
  border: .5rem solid $black;

  background-color: $white;
  cursor: pointer;

  padding: 0 .5rem;

  max-width: 85%;

  height: 4rem;
  max-height: 70%;

  overflow: hidden;

  text-align: center;
  color: $black;
  font-size: 2vw;
  font-weight: bold;

  box-sizing: border-box;
  pointer-events: initial;

  @media (max-width: 680px) {
    font-size: 1.6rem;
  }

  @media (max-width: 560px) {
    font-size: 1.4rem;
  }

  @media (max-width: 320px) {
    font-size: 1rem;
  }

  @media (max-width: 180px) {
    font-size: .6rem;
  }

  @media (max-height: 500px) {
    font-size: 1.2rem;
  }

  &:hover {
    border-color: rgba($color: $white, $alpha: 0);
    background-color: $white;
    color: $primary-color-text;
  }
}

.fallback-skills-simplify-overview-button-wrapper {
  position: fixed;
  top: 0;
  right: 0;

  transition: $global--variant-change-duration opacity;
  z-index: 998;

  width: 80vw;
  max-width: 80%;

  height: 25vmin;
  max-height: 25%;

  pointer-events: none;

  &.hide {
    opacity: 0;
  }
}
