.fallback-skills-simplified-skills {
  a {
    text-decoration: none;
  }

  .fallback-skills-simplified-skill {
    color: $black;
    // TODO MARK SELECTED SKILL

    &.selected {
      color: $primary-color;
    }
  }
}
