.fallback-skill-details-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  transition: $global--variant-change-duration opacity,
  $global--variant-change-duration transform;

  opacity: 0;
  z-index: 1000;

  background-color: $white;

  pointer-events: none;

  &.show {
    opacity: 1;
    pointer-events: initial;

    transition-duration: 0s;
  }

  .fallback-skill-details-close-button {
    position: absolute;
    top: 5vmin;
    right: 5vmin;

    background-color: #f00;

    width: 4rem;
    max-width: 8vmax;

    height: 4rem;
    max-height: 8vmax;
  }
}
