.fallback-skill-details-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  transition: $global--variant-change-duration opacity,
  $global--variant-change-duration transform;

  opacity: 0;
  z-index: 1000;

  background-color: $white;

  pointer-events: none;

  &.show {
    opacity: 1;
    pointer-events: initial;

    transition-duration: 0s;
  }

  .fallback-skill-details-close-button {
    display: flex;

    position: absolute;
    top: 5vmin;
    right: 5vmin;

    align-items: center;
    justify-content: center;

    transition: .2s color;
    cursor: pointer;

    width: 4rem;
    max-width: 15vmin;

    height: 4rem;
    max-height: 15vmin;

    color: $black;
    font-size: 2rem;

    &:hover {
      color: $gray;
    }
  }
}
