.fallback-skills-simplified-categories {
  .fallback-skills-simplified-category {
    // Indicates that it's skills are visible
    &.active {
      background-color: #ff0;
    }

    &.selected {
      background-color: $black;
      color: $white;
    }
  }
}
