.fallback-skills-filter-wrapper {
  display: flex;

  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;

  align-items: center;
  justify-content: flex-start;

  transition: $global--variant-change-duration opacity;

  opacity: 0;
  z-index: 999; // To overlay goto-top-btn
  border-top: .5rem solid $black;

  background-color: $white;
  padding: 1rem 5vmin;

  height: 2.5rem;

  pointer-events: none;

  &.show {
    opacity: 1;
    pointer-events: initial;
  }

  .fallback-skill-filter-button {
    @include user-select(none);

    position: absolute;
    right: 5vmin;

    transition: .2s color;
    cursor: pointer;

    color: $black;
    font-size: 1.75rem;

    justify-self: center;

    &:hover {
      color: $gray;
    }
  }

  .fallback-skills-filter-inner {
    display: flex;

    .filter-search-wrapper {
      margin-top: 0;
      margin-left: .5rem;
      width: 20vw;
    }

    .filter-checkbox-category {
      margin-right: 0;
      padding-left: .5rem;
    }
  }

  @import '../../../view/skills/skill-filter/filter-checkbox';
  @import '../../../view/skills/skill-filter/filter-search';
}
