.fallback-skill-details-inner {
  position: absolute;
  top: 15vmin;
  right: 5vmin;
  left: 5vmin;

  transition: $global--variant-change-duration opacity;

  opacity: 0;

  padding: 1rem 0;
  min-height: #{'calc(100vh - 15vmin)'};

  box-sizing: border-box;

  &.show {
    opacity: 1;
  }

  .fallback-skill-details-inner-content {
    position: relative;
  }

  .fallback-skill-details-inner-title-wrapper {
    display: flex;

    min-height: 5rem;

    @media (max-width: $fallback-give-buttons-extra-space-width-treshhold) {
      display: block;
      min-height: 10rem;
    }

    .fallback-skill-details-inner-title {
      display: flex;

      align-items: center;
      justify-content: flex-start;

      border: .5rem solid $black;
      padding: 0 .5rem;

      width: #{'calc(100vw - 10vmin - 10rem - 2.5rem)'};

      font-size: 3rem;

      @media (max-width: $fallback-give-buttons-extra-space-width-treshhold) {
        position: absolute;
        top: 5.25rem;

        right: 0;
        left: 0;

        width: initial;
      }
    }
  }

  .fallback-skill-details-inner-button {
    @include user-select(none);

    display: flex;

    align-items: center;
    justify-content: center;

    transition: .2s color;
    background-color: $black;

    cursor: pointer;

    width: 5rem;

    color: $white;
    font-size: 3rem;

    &:hover {
      color: lighten($color: $primary-color, $amount: 10);
    }

    @media (max-width: $fallback-give-buttons-extra-space-width-treshhold) {
      position: absolute;
      top: 0;
      width: #{'calc(50vw - 5vmin - .125rem)'};
      height: 5rem;
    }

    &.previous {
      margin-right: .25rem;

      @media (max-width: $fallback-give-buttons-extra-space-width-treshhold) {
        left: 0;
        margin-right: 0;
      }
    }

    &.next {
      margin-left: .25rem;

      @media (max-width: $fallback-give-buttons-extra-space-width-treshhold) {
        right: 0;
        margin-left: 0;
      }
    }
  }

  @media (max-height: 500px), (max-width: 500px) {
    top: 20vmin;
    min-height: #{'calc(100vh - 20vmin)'};
  }

  @import 'fallback-skill-details-inner-info';

  p {
    padding: 1rem 1rem 0;

    text-align: justify;
    font-size: 1.5rem;
  }

  .fallback-skill-details-trivia {
    font-style: italic;
  }
}
