.fallback-skills-simplify-overview-button {
  @include user-select(none);

  display: flex;

  position: absolute;
  top: 20%;
  right: 6%;

  align-items: center;
  justify-content: center;

  border: .3rem solid $gray;

  background-color: rgba($color: $white, $alpha: .8);
  cursor: pointer;

  padding: 0 .5rem;

  max-width: 85%;

  height: 4rem;
  max-height: 70%;

  overflow: hidden;

  text-align: center;
  color: $gray;
  font-size: 2vw;

  box-sizing: border-box;

  @media (max-width: 680px) {
    font-size: 1.6rem;
  }

  @media (max-width: 560px) {
    font-size: 1.4rem;
  }

  @media (max-width: 320px) {
    font-size: 1rem;
  }

  @media (max-width: 180px) {
    font-size: .6rem;
  }

  @media (max-height: 500px) {
    font-size: 1.2rem;
  }
}

.fallback-skills-simplify-overview-button-wrapper {
  position: fixed;
  top: 0;
  right: 0;

  z-index: 1998;

  width: 80vw;
  max-width: 80%;

  height: 25vmin;
  max-height: 25%;
}
