.skills-map-zoom-wrapper {
  right: initial;
  bottom: 5vmin;
  left: 5vmin;

  flex-direction: row;

  border: .5rem solid $black;
  padding: 0 .25rem;

  width: initial;
  height: 3rem;

  .skills-map-zoom-btn {
    margin: 0 .25rem;
    font-size: 2rem;

    &:first-child,
    &:last-child {
      padding: 0 .25rem;
      font-size: 1.5rem;
    }
  }
}
