.start-popup {
  width: 23.5rem;

  h1 {
    width: 19.5rem;
    font-size: .9rem;
  }

  h2 {
    font-size: 1.6rem;

    span {
      margin-bottom: .35rem;

      height: 2.5rem;
      line-height: 2.5rem;
    }
  }

  .start-popup-for-you-span {
    font-size: 2rem;
  }

  .start-popup-btn {
    font-size: 1.05rem;
  }
}
