.popup-transition-enter {
  transform: scale(.5);
  opacity: .01;
}

.popup-transition-enter-active {
  transform: scale(1);
  opacity: 1;
}

.popup-transition-exit {
  transform: scale(1);
  opacity: 1;
}

.popup-transition-exit-active {
  transform: scale(1.5);
  opacity: .01;
}
