@import 'popup-wrapper';
@import 'popup-transition';
@import 'start-popup';

.popup {
  position: absolute;
  left: 50%;

  transform: translate3d(-50%, 0, 0);
  transition: calc(#{$global--popup-fade-out-duration} / 2) opacity,
  $global--popup-fade-out-duration transform;

  background-color: $white;
  padding: 2rem;

  max-width: 100vw;
  max-height: 100vh;

  overflow: auto;

  box-sizing: border-box;
  pointer-events: initial;

  @import 'popup-variants';

  h1 {
    font-family: 'Roboto Condensed';
  }

  .popup-inner {
    display: flex;

    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    margin: .5rem 0 0;

    max-width: #{'calc(100vw - 4rem)'};

    text-align: justify;
    font-family: 'Roboto Condensed';
    font-size: 1.5rem;

    .popup-text {
      align-self: center;
      max-width: 82vw;
    }

    .popup-hint {
      align-self: center;

      margin: 1rem 0 0;
      max-width: 82vw;

      font-size: 1.2rem;
    }

    .popup-trivia {
      margin: 1rem 0 0;
      max-width: 82vw;

      font-size: 1.2rem;
      font-style: italic;
    }
  }

  .close-btn-wrapper {
    @include user-select(none);

    display: flex;

    position: absolute;
    top: 1.75rem;
    right: 1.5rem;

    align-items: center;
    justify-content: center;

    width: 3rem;
    height: 3rem;

    .close-btn {
      transition: .2s color;

      cursor: pointer;
      font-size: 2rem;

      &:hover {
        color: $gray;
      }
    }
  }
}
