.start-popup {
  position: relative;
  align-self: center;

  background-color: $white;
  padding: 2rem 2rem 1rem !important;

  pointer-events: initial;

  h1 {
    margin-top: 0;

    background-color: $black;

    padding: 0 .5rem;

    width: 22.5rem;
    height: 2rem;

    text-align: justify;
    line-height: 2rem;

    color: $white;
    font-size: 1.05rem;
    font-weight: 500;

    box-sizing: border-box;
    text-align-last: justify;
  }

  h2 {
    font-size: 2.25rem;
    font-weight: 300;

    span {
      display: inline-block;
      margin-bottom: .35rem;

      background-color: $black;
      padding: 0 .5rem;

      height: 3rem;

      line-height: 3rem;
      color: $white;
    }
  }

  .start-popup-for-you-span {
    border-top: .5rem solid $black;
    border-right: 0;
    border-bottom: .5rem solid $black;
    border-left: 0;

    background-color: $white;

    padding: .125rem .5rem;
    height: initial;

    line-height: initial;
    color: $black;
    font-size: 3rem;
    font-weight: 600;
    font-variant: small-caps;
  }

  .start-popup-btn-wrapper {
    display: flex;
    justify-content: space-between;

    margin-top: .35rem;

    border-top: 1rem solid $black;

    padding-top: .375rem;
  }

  .start-popup-btn {
    display: flex;
    align-items: center;

    transition: .2s background-color,
    .2s color;

    cursor: pointer;
    padding: 0 .5rem;

    height: 2.5rem;

    color: $black;
    font-size: 1.5rem;
    font-weight: 400;

    &.btn-1 {
      justify-content: flex-start;
      background-color: $primary-color-area;
      color: $white;
    }

    &.btn-2 {
      justify-content: flex-end;
      color: $primary-color-text;
    }

    &:hover {
      background-color: $white;
      color: $black;
    }
  }
}
