.start-popup {
  position: relative;
  align-self: center;

  background-color: $white;
  padding: 2rem;

  pointer-events: initial;

  h1 {
    float: left;
    margin-top: -.35rem;

    border: 2px solid $primary-color;
    padding: .1rem .3rem;

    color: $primary-color;
    font-size: 1.25rem;
    font-weight: 500;

    font-variant: small-caps;
  }

  h2 {
    padding: 0 0 .5rem;
    font-size: 3rem;
    font-weight: 300;

    span {
      display: inline-block;
      margin: .2rem 0;

      background-color: $black;
      padding: 0 .5rem;

      color: $white;
    }
  }

  .start-popup-for-you-span {
    background-color: $white;
    color: $black;
    font-weight: 600;
    font-variant: small-caps;
  }

  .start-popup-btn-wrapper {
    position: absolute;
    bottom: -1rem;
    left: 2rem;

    transform: translate3d(0, 100%, 0);
  }

  .start-popup-btn {
    float: left;

    transition: .2s background-color,
    .2s opacity;

    opacity: .4;
    margin-left: 1rem;

    background-color: $white;

    cursor: pointer;
    padding: .2rem .5rem;

    color: $black;
    font-size: 2.5rem;
    font-weight: 300;
    font-variant: small-caps;

    &:first-child {
      opacity: .8;
      margin-left: 0;
      background-color: $black;
      color: $white;
    }

    &:hover {
      opacity: 1;
    }
  }
}
