$logo-clip-path: polygon(0 0, 50% 100%, 100% 0);

.logo-link {
  pointer-events: none;
}

.logo-big {
  top: 50% !important;
  left: 50vw !important;
  transform: translateX($startpage-margin-from-midline) translateY(-20.5vh) rotate(29.8deg);

  transform-origin: top left;

  .logo {
    width: auto;
    height: 35vh;
  }
}

.logo-wrapper {
  position: fixed;
  top: 5rem;
  left: 5rem;

  z-index: 1000;
}

.logo {
  position: absolute;
  top: 0;
  left: 0;

  width: auto;
  height: 12.5vmax;
}

.logo-inverted {
  transition: .2s opacity;

  opacity: 0;
  cursor: pointer;
  clip-path: $logo-clip-path;

  pointer-events: fill;

  &:hover {
    opacity: 1;
  }
}
