.skills-map-scroll-anchor {
  display: flex;

  position: fixed;
  bottom: $global--menu-height;
  left: 0;

  flex-direction: column;
  align-items: center;
  justify-content: center;

  animation-name: skills-map-scroll-anchor-animation;
  animation-duration: 2s;
  animation-delay: 1s;
  animation-fill-mode: forwards;

  z-index: 50;

  background-color: $white;

  width: 4vmax;
  min-width: 4rem;

  color: $black;

  .pointer-lock-canvas {
    position: absolute;
    top: 4rem;
    left: 0;

    cursor: move;

    width: 100%;

    height: 4vmax;
    min-height: 4rem;
  }

  .skills-map-scroll-anchor-symbol {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: .5rem;

    width: 2vmax;
    min-width: 2rem;

    height: 2vmax;
    min-height: 2rem;

    font-size: 1.5vmax;

    pointer-events: none;

    &.toggle {
      position: relative;
      z-index: 5;

      cursor: pointer;
      pointer-events: initial;
    }
  }

  .skills-map-scroll-anchor-caption {
    display: flex;

    align-items: center;
    justify-content: center;

    border-top: 2px $black dotted;

    width: 2vmax;
    min-width: 2rem;

    text-align: center;
    font-family: 'Roboto Condensed';
    font-size: .8rem;
    font-weight: bold;
    font-variant: small-caps;

    pointer-events: none;

    &.scroll-hint {
      margin-top: .5rem;
      border: initial;
    }

    &.toggle {
      position: relative;
      z-index: 5;

      cursor: pointer;
      pointer-events: initial;
    }
  }
}
