.skills-map-item-link {
  text-decoration: none;
}

.skills-map-item {
  transition: .2s background-color,
  .2s color,
  .2s padding;

  cursor: pointer;

  padding: 0 .5rem;

  color: $black;
  font-size: 1.8rem;

  &:hover {
    background-color: $black;
    color: $white;

    .skills-map-item-mark,
    .skills-map-item-comment-icon {
      background-color: $white;
      color: $black;
    }
  }

  &.item-selected {
    background-color: $black;
    padding: 0 .5rem;
    color: $white;

    .skills-map-item-mark,
    .skills-map-item-comment-icon {
      background-color: $white;
      color: $black;
    }
  }
}

.skills-map-item-inner {
  display: flex;
  align-items: center;
  justify-content: center;

  .skills-map-item-mark,
  .skills-map-item-comment-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;

    margin: 0 .5rem 0 0;
    border-radius: .5rem;

    background-color: $black;

    width: 1.4rem;
    height: 1.4rem;

    color: $white;
    font-size: 1rem;
  }
}
