.skills-map-category {
  display: flex;
  position: relative;

  flex-direction: column;
  align-items: flex-end;

  align-self: stretch;

  transition: .2s border-color;

  margin: 0 1rem;
  border-bottom: $skills-map-column-border;

  min-height: 8rem;

  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    border-bottom: $skills-map-column-border-ie-fallback;
  }

  &.category-selected {
    .skills-map-category-inner {
      border-right-color: $black;
      border-left-color: $black;
    }
  }

  .skills-map-category-inner {
    display: flex;

    flex-direction: column;
    align-items: flex-end;
    align-self: stretch;
    justify-content: center;

    transition: .2s border-color;

    border-right: 4px rgba($color: $black, $alpha: 0) dotted;
    border-left: 4px rgba($color: $black, $alpha: 0) dotted;

    padding: 1rem $skills-map-category-padding-left-right 1rem $skills-map-category-padding-left-right * 2;
    height: 100%;
  }

  &:last-child {
    border-bottom: initial;
  }

  h2 {
    position: absolute;
    top: 50%;
    left: 0;

    transform: rotate(-90deg) translate3d(-50%, $skills-map-category-padding-left-right, 0);

    font-family: 'Roboto Condensed';
    font-size: 1.2rem;
    font-variant: small-caps;

    transform-origin: top left;
  }
}
