.skills-map-zoom-wrapper {
  display: flex;

  position: absolute;
  right: 0;
  bottom: 0;

  flex-direction: column;
  align-items: center;
  justify-content: center;

  z-index: 1;

  background-color: $white;

  padding: .5vmin 0;
  width: 4.5vmin;

  .skills-map-zoom-btn {
    @include user-select(none);

    transition: .2s color;

    cursor: pointer;

    color: $black;
    font-size: 3vmin;

    &:hover {
      color: $primary-color;
    }
  }
}
