.skills-map-column {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: flex-start;

  border-right: $skills-map-column-border;

  padding-top: 490vmin;

  width: 25vw;
  min-width: 25rem;

  height: 1000vmin;

  box-sizing: border-box;

  &.column-selected {
    // background-color: darken($color: $white, $amount: 10);
  }

  &:first-child {
    margin: 0 0 0 180vmin;
    border-left: $skills-map-column-border;
  }

  &:last-child {
    margin: 0 50vh 0 0;
  }

  h1 {
    display: inline-flex;

    margin: 0 0 1rem;

    font-size: 6vh;
    font-variant: small-caps;
  }
}
