.menu-wrapper {
  display: flex;

  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;

  align-items: center;
  justify-content: center;

  z-index: 200;
  background-color: $white;
  height: $global--menu-height;

  pointer-events: none;
}

.menu-impressum-license-link {
  position: absolute;
  right: 1vh;

  transition: .2s opacity;
  opacity: .7;

  color: $black;
  font-family: 'Roboto Condensed';
  pointer-events: initial;

  &:hover {
    opacity: 1;
  }

  a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: $black;
  }

  .menu-impressum-symbols {
    margin: 0 0 0 .25rem;
  }
}

.menu-component {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0 .5rem 0 .4rem;

  list-style: none;
  font-family: 'Roboto Condensed';

  pointer-events: initial;
  font-variant: small-caps;

  a {
    transition: .8s color;

    text-decoration: none;
    color: $black;
  }

  li {
    transition: .2s background-color;

    padding: 0 .4rem;

    font-size: 2vh;
    font-weight: 400;

    &:first-child {
      background-color: initial !important;
      cursor: default;
      padding: 0 .2rem;
      font-weight: bold;
    }

    &:hover {
      background-color: $black;

      a {
        transition: .2s color;

        color: $white;
      }
    }
  }

  .selected,
  .selected a { // sass-lint:disable-line force-element-nesting
    cursor: default;
    color: $primary-color;

    &:hover {
      background-color: initial !important;

      a {
        color: $primary-color;
      }
    }
  }
}
