.about-wrapper {
  @include fallback-view-margin;

  display: flex;

  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  @import 'about/fallback-about-picture';
  @import 'about/about-text-wrapper';
  @import 'about/about-table-component';
}
