.contact-wrapper {
  @include fallback-view-margin;

  .fallback-contact-wrapper-inner {
    margin: 0 5vmin;

    h2 {
      margin-top: 5vmin;
      background-color: $black;

      padding: .25rem .5rem;
      color: $white;
    }
  }

  @import 'contact/fallback-contact-page-social';
  @import 'contact/contact-page-impressum';
}
