.fallback-site-wrapper {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  min-height: 100vh;

  // MARKER_SCROLLBAR
  &.disable-scroll-bar {
    max-height: 100vh;
    overflow: hidden;
  }

  .fallback-view-wrapper {
    position: absolute;
    right: 0;
    left: 0;

    transition: $global--morph-duration opacity,
    $global--morph-duration filter;

    padding: 1rem;
    min-height: 100vh;

    box-sizing: border-box;

    // IE Workaround
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
      // Don't ask me why this works
      height: 0;
    }
  }

  .popup-wrapper {
    pointer-events: none;
  }

  .fallback-disabled-background {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    transition: $global--morph-duration opacity;

    opacity: 0;
    z-index: 1;

    background-color: $white;

    pointer-events: none;
  }

  &.disable-fallback-view-wrapper {
    .fallback-disabled-background {
      opacity: .5;
      pointer-events: initial;
    }

    .fallback-view-wrapper {
      opacity: .5;
      filter: $global--disable-blur;
    }
  }
}

@mixin fallback-view-margin {
  top: 5vmin;

  margin-top: 4rem;
  padding: 0;

  min-height: #{'calc(100vh - 4rem - 5vmin)'};

  @media (max-height: 280px), (max-width: 280px) {
    margin-top: 20vmin;
    padding-top: 0;
  }

  @media (min-height: 1280px) {
    margin-top: 6.25vmin;
    padding-top: 0;
  }
}
