.stories-wrapper {
  @include fallback-view-margin;

  display: flex;

  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  .stories-wrapper-inner {
    margin: 5vmin;

    text-align: justify;

    &.transition {
      transition: $global--variant-change-duration margin;
    }

    &.show-timeline {
      margin: 5vmin 5vmin 5vmin #{'calc(10vmin + 4rem)'};

      @media (max-width: 320px) {
        margin: 5vmin 5vmin 5vmin 27.5vmin;
      }
    }

    h1 {
      margin-right: 18vmin;

      text-align: left;
      font-size: 2.5rem;
    }

    @import 'stories/article';
    @import 'stories/fallback-story-spacer';
    @import 'stories/fallback-story-skills-list';
    @import 'stories/fallback-timeline';
  }
}
