.logo-big {
  top: initial !important;
  bottom: 32.875vh;
  left: 50% !important;

  transform: translate3d(-100%, 0, 0) translateY(1rem) translateX(-$startpage-margin-from-midline + .8rem);

  width: 32vh / $logo-dimension-ratio;
  height: 32vh;

  transform-origin: top left;

  .logo {
    width: auto;
    height: 32vh;
  }
}
