.logo-big {
  top: initial !important;
  bottom: 32.875vh;
  left: 50% !important;

  transform: translate3d(-100%, 0, 0) translateY(1rem) translateX(-$startpage-margin-from-midline + .8rem);

  transition: $global--morph-duration filter,
  $global--morph-duration background-color,
  $global--morph-duration transform,
  $global--morph-duration opacity;

  width: 32vh / $logo-dimension-ratio;
  height: 32vh;

  transform-origin: top left;

  &.disabled {
    filter: $global--disable-blur;
    pointer-events: none;
  }

  .logo {
    width: auto;
    height: 32vh;
  }
}
