.burger-menu-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  z-index: 1999;

  pointer-events: none;

  @import 'burger-menu-handle';
  @import 'burger-menu-inner';
  @import 'burger-menu-entry';
}

.burger-menu {
  display: flex;

  position: absolute;
  top: 1rem;
  left: 1rem;

  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  transition: $global--variant-change-duration opacity,
  $global--variant-change-duration top,
  $global--variant-change-duration left,
  $global--variant-change-duration width,
  $global--variant-change-duration min-width,
  $global--variant-change-duration height,
  $global--variant-change-duration min-height;

  opacity: 0;
  background-color: $white;

  @media (max-height: 320px), (max-width: 320px) {
    top: 0;
    left: 0;

    width: 100vw;
    min-width: 100vw;

    height: 100vh;
    min-height: 100vh;
  }

  width: #{'calc(100vmin - 2rem)'};
  min-width: #{'calc(100vmin - 2rem)'};

  height: #{'calc(100vmin - 2rem)'};
  min-height: #{'calc(100vmin - 2rem)'};

  overflow: hidden;

  &.active {
    opacity: 1;
    pointer-events: initial;
  }
}
