.burger-menu-handle-wrapper {
  position: relative;

  width: 25vmin;
  max-width: 25%;

  height: 25vmin;
  max-height: 25%;
}

.burger-menu-handle {
  @include user-select(none);

  display: flex;

  position: absolute;
  top: 20%;
  left: 20%;

  align-items: center;
  justify-content: center;

  transition: .2s border-color,
  .2s background-color,
  .2s color;
  z-index: 2000;

  border: .3rem solid $gray;
  cursor: pointer;

  width: 4rem;
  min-width: 25%;
  max-width: 80%;

  height: 4rem;
  min-height: 25%;
  max-height: 80%;

  overflow: hidden;

  color: $gray;
  font-size: 2rem;

  box-sizing: border-box;
  pointer-events: initial;

  &.background-color-enabled {
    background-color: $white;
  }

  &.active {
    border-color: rgba($color: $white, $alpha: 0);
    background-color: $white;
  }

  &:hover {
    border-color: rgba($color: $white, $alpha: 0);
    color: lighten($color: $primary-color, $amount: 10);
  }
}
