.burger-menu-entry-link {
  text-decoration: none;
}

.burger-menu-entry {
  display: flex;

  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  transition: .2s border-color,
  .2s background-color,
  .2s color;

  margin: 1vmin;
  border: .75rem solid $black;
  padding: 2vmin;

  width: 25vmin;
  min-width: 6.5rem;

  height: 25vmin;
  min-height: 6.5rem;

  text-align: center;

  color: $black;
  font-family: 'Roboto Condensed';
  font-size: 5vmin;
  font-weight: bold;
  font-variant: small-caps;

  box-sizing: border-box;

  @media (max-height: 320px), (max-width: 320px) {
    margin: .25rem;
    font-size: 1.25rem;
  }

  &:hover {
    border-color: rgba($color: $white, $alpha: 0);
    color: lighten($color: $primary-color, $amount: 10);
  }

  &.selected {
    border-color: rgba($color: $white, $alpha: 1);
    background-color: $black;
    color: $white;
  }
}
