.about-table-component {
  display: flex;

  flex-wrap: wrap;
  justify-content: space-between;

  margin: 1rem 5vmin .5rem;
  border-top: .5rem solid $black;
  border-bottom: .5rem solid $black;

  width: #{'calc(100% - 10vmin)'};

  list-style: none;
  font-variant: small-caps;

  .about-table-item {
    display: flex;

    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin: .5rem;

    .about-table-item-text {
      font-weight: bold;
    }
  }
}
