.fallback-about-text-wrapper {
  margin: 0 5vmin;
  padding: 5vmin 0;

  // For IE
  max-width: #{'calc(100vw - 10vmin)'};

  .about-text-intro-sentence {
    line-height: 1.5rem;
    font-family: 'Roboto Condensed';
    font-size: 3rem;
  }

  p {
    padding: 0 0 2rem;

    text-align: justify;
    font-size: 1.5rem;
  }

  a {
    color: $black;
  }
}
